<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <meta th:content="${_csrf.token}" th:name="_csrf"/>
    <meta th:content="${_csrf.headerName}" th:name="_csrf_header"/>
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <link href="/css/all.min.css" rel="stylesheet" type="text/css">
    <style>
        .container {
            width: 50%;
            margin: 0 auto;
            margin-top: 10%;
       }
       .heading {
            display: inline-block;
            margin-left: 10px;
       }

    </style>
    <script>
        var csrfToken = document.getElementsByName('_csrf')[0].content;
        var csrfHeaderName = document.getElementsByName('_csrf_header')[0].content;

        function deleteList (id) {
            var xhr = new XMLHttpRequest();
            xhr.open('DELETE', "/grocery-list/" + id + "/delete", true);
            xhr.setRequestHeader(csrfHeaderName, csrfToken);
            xhr.onreadystatechange = function() {
                if (this.status == 200 && this.readyState == 4) {
                    window.location.replace("/grocery-lists");
                }
              };
            xhr.send();
        }

    </script>
</head>
<body>
<div class="container">
    <div class="row d-flex">
        <div class="col-md-6">
            <h1 class="" th:text="#{grocery-lists.title}"></h1>
        </div>
        <div class="col-md-6">
            <a class="btn btn-primary float-right" th:href="@{/grocery-list/new}" th:text="Neu"></a>
        </div>
    </div>
    <div class="card-columns">
        <div class="card" style="width: 18rem;" th:each="list : ${groceryLists}">
            <div class="card-body">
                <span class="fas fa-list"></span><h5 class="card-title heading" th:text="${list.name}"></h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a class="btn btn-primary" th:href="@{'/grocery-list/' + ${list.getId()}}"
                   th:text="#{grocery-lists.showList}"></a>
                <a class="btn btn-danger" id="deleteButton" th:onclick="|deleteList(${list.getId()})|"
                   th:text="#{grocery-lists.deleteList}"></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>