<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
    <link href="/css/bootstrap.css" rel="stylesheet" type="text/css">
    <style>
        .container {
            width: 25%;
            margin: 0 auto;
            margin-top: 10%;
       }

    </style>
</head>

<body>
<div class="container">
    <h1 th:text="#{registration.title}">form</h1>
    <form enctype="utf8" method="POST" th:action="@{/user/registration}" th:object="${user}">
        <div class="form-group">
            <label for="userName" th:text="#{registration.username}">first</label>
            <input class="form-control" id="userName" th:field="*{username}"/>
            <p th:each="error: ${#fields.errors('username')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="firstName" th:text="#{registration.firstname}">first</label>
            <input class="form-control" id="firstName" th:field="*{firstname}"/>
            <p th:each="error: ${#fields.errors('firstname')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="lastName" th:text="#{registration.lastname}">first</label>
            <input class="form-control" id="lastName" th:field="*{lastname}"/>
            <p th:each="error: ${#fields.errors('lastname')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="password" th:text="#{registration.password}">password</label>
            <input class="form-control" id="password" th:field="*{password}" type="password"/>
            <p th:each="error : ${#fields.errors('password')}"
               th:text="${error}">Validation error</p>
        </div>
        <div class="form-group">
            <label for="confirm" th:text="#{registration.confirmPassword}">confirm</label>
            <input class="form-control" id="confirm" th:field="*{matchingPassword}" type="password"/>
        </div>
        <button class="btn btn-primary" th:text="#{registration.submit}" type="submit">submit</button>
    </form>
</div>
</body>
</html>